<%=
  render(
    partial: 'partials/page_title',
    locals: {
      model_object: @organisation,
      page_title: t('governing_documents_question.page_title')
    }
  )
%>

<%= content_for :secondarycontent do %>
  <%= 
    render partial: "partials/summary/summary_link", locals: {
      summary_link: organisation_summary_path
    } 
  %>
<% end %>

<noscript><% no_js = true %></noscript>

<div id="summary-errors"></div>

<%=
  render(
    partial: 'partials/summary_errors',
    locals: {
      form_object: @organisation,
      first_form_element: :governing_document_file
    }
  ) if @organisation.errors.any?
%>

<%=
  form_with model: @organisation,
  url: organisation_governing_documents_path,
  method: :put,
  local: no_js ? true : false do |f|
%>

  <%=
    render(
      partial: 'partials/organisation/governing_documents_question',
      locals: {
        model_object: @organisation,
        model_object_name: 'organisation',
        form_object: f
      }
    )
  %>

<% end %>
