<%= 
  render partial: "partials/page_title",
         locals: {
             model_object: @organisation,
             page_title: t('board_members_or_trustees.page_title')
         }
%>

<%= content_for :secondarycontent do %>
  <%= 
    render partial: "partials/summary/summary_link", locals: {
      summary_link: organisation_check_your_answers_path
    } 
  %>
<% end %>

<%=
  render partial: "partials/summary_errors", locals: {
      form_object: @organisation,
      first_form_element: :organisation_company_number
} if @organisation.errors.any?
%>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-5">

  <span class="govuk-caption-xl">

    <%= t('board_members_or_trustees.page_title') %>
    
  </span>

  <%= t('board_members_or_trustees.page_heading') %>

</h1>

<%= form_for @organisation, 
    url: organisation_board_members_or_trustees_path(@organisation), 
    method: :put do |f| 
%>

    <%=
      render(
        partial: 'partials/organisation/board_members_or_trustees_question',
        locals: {
          model_object: @organisation,
          form_object: f
        }
      )
    %>

    <%=
      render(
        ButtonComponent.new(
          element: 'button',
          is_start_button: false,
          text: t('buttons.labels.default'),
          name: "save_and_continue_button"
        )
      )
	  %>

<% end %>
