<div class="govuk-form-group <%= "govuk-form-group--error" if model_object.errors.any? %>">

  <fieldset class="govuk-fieldset">
    
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">

      <%=
        render(
          partial: "partials/form_group_errors",
          locals: {
            form_object: model_object
          }
        ) if model_object.errors.any?
      %>

      <div class="govuk-checkboxes">

        <%# This hidden field ensures blank validation for pre-existing answers 
        when a user deselects all checkboxes %>
        <%= form_object.hidden_field :communities_that_org_serve, multiple: true, value: [] %>

        <div class="govuk-checkboxes__item">

          <%=
            form_object.check_box :communities_that_org_serve,
            {
              multiple: true,
              id: :communities_that_org_serve_communities_experiencing_ethnic_or_racial_inequity_discrimination_inequality,
              class: "govuk-checkboxes__input"
            },
            "communities_experiencing_ethnic_or_racial_inequity_discrimination_inequality",
            nil
          %>

          <%=
            form_object.label :communities_that_org_serve_communities_experiencing_ethnic_or_racial_inequity_discrimination_inequality,
            t('labels.communities_that_org_serve_communities_experiencing_ethnic_or_racial_inequity_discrimination_inequality'),
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

        <div class="govuk-checkboxes__item">

          <%=
            form_object.check_box :communities_that_org_serve,
            {
              multiple: true,
              id: :communities_that_org_serve_faith_communities,
              class: "govuk-checkboxes__input"
            },
            "faith_communities",
            nil
          %>

          <%=
            form_object.label :communities_that_org_serve_faith_communities,
            t('labels.communities_that_org_serve_faith_communities'),
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

        <div class="govuk-checkboxes__item">

          <%=
            form_object.check_box :communities_that_org_serve,
            {
              multiple: true,
              id: :communities_that_org_serve_people_who_have_migrated_and_or_have_experience_of_the_immigration_system,
              class: "govuk-checkboxes__input"
            },
            "people_who_have_migrated_and_or_have_experience_of_the_immigration_system",
            nil
          %>

          <%=
            form_object.label :communities_that_org_serve_people_who_have_migrated_and_or_have_experience_of_the_immigration_system,
            t('labels.communities_that_org_serve_people_who_have_migrated_and_or_have_experience_of_the_immigration_system'),
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div> 
        
        <div class="govuk-checkboxes__item">

          <%=
            form_object.check_box :communities_that_org_serve,
            {
              multiple: true,
              id: :communities_that_org_served_deaf_disabled_blind_partially_sighted_and_or_neurodivergent_people,
              class: "govuk-checkboxes__input"
            },
            "deaf_disabled_blind_partially_sighted_and_or_neurodivergent_people",
            nil
          %>

          <%=
            form_object.label :communities_that_org_served_deaf_disabled_blind_partially_sighted_and_or_neurodivergent_people,
            t('labels.communities_that_org_served_deaf_disabled_blind_partially_sighted_and_or_neurodivergent_people'),
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

        <div class="govuk-checkboxes__item">

          <%=
            form_object.check_box :communities_that_org_serve,
            {
              multiple: true,
              id: :communities_that_org_serve_older_people_65_and_over,
              class: "govuk-checkboxes__input"
            },
            "older_people_65_and_over",
            nil
          %>

          <%=
            form_object.label :mainly_catholic_community_led,
            t('labels.communities_that_org_serve_older_people_65_and_over'),
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>
        
        <div class="govuk-checkboxes__item">

          <%=
            form_object.check_box :communities_that_org_serve,
            {
              multiple: true,
              id: :communities_that_org_serve_young_people_led,
              class: "govuk-checkboxes__input"
            },
            "young_people_led",
            nil
          %>

          <%=
            form_object.label :communities_that_org_serve_young_people_led,
            t('labels.communities_that_org_serve_young_people_led'),
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

        <div class="govuk-checkboxes__item">

          <%=
            form_object.check_box :communities_that_org_serve,
            {
              multiple: true,
              id: :communities_that_org_serve_women_and_girls,
              class: "govuk-checkboxes__input"
            },
            "women_and_girls",
            nil
          %>

          <%=
            form_object.label :communities_that_org_serve_women_and_girls,
            t('labels.communities_that_org_serve_women_and_girls'),
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

        <div class="govuk-checkboxes__item">

          <%=
            form_object.check_box :communities_that_org_serve,
            {
              multiple: true,
              id: :communities_that_org_serve_lgbt_plus_led,
              class: "govuk-checkboxes__input"
            },
            "lgbt_plus_led",
            nil
          %>

          <%=
            form_object.label :communities_that_org_serve_lgbt_plus_led,
            t('labels.communities_that_org_serve_lgbt_plus_led'),
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

        <div class="govuk-checkboxes__item">

          <%=
            form_object.check_box :communities_that_org_serve,
            {
              multiple: true,
              id: :communities_that_org_serve_people_who_are_educationally_or_economically_disadvantaged,
              class: "govuk-checkboxes__input"
            },
            "people_who_are_educationally_or_economically_disadvantaged",
            nil
          %>

          <%=
            form_object.label :communities_that_org_serve_people_who_are_educationally_or_economically_disadvantaged,
            t('labels.communities_that_org_serve_people_who_are_educationally_or_economically_disadvantaged'),
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

          <div class="govuk-checkboxes__item">

          <%=
            form_object.check_box :communities_that_org_serve,
            {
              multiple: true,
              id: :communities_that_org_serve_specific_groups_that_are_not_included_already,
              class: "govuk-checkboxes__input"
            },
            "specific_groups_that_are_not_included_already",
            nil
          %>

          <%=
            form_object.label :communities_that_org_serve_specific_groups_that_are_not_included_already,
            t('labels.communities_that_org_serve_specific_groups_that_are_not_included_already'),
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

        <div class="govuk-checkboxes__divider">or</div>

        <div class="govuk-checkboxes__item govuk-!-margin-bottom-3">

          <%= 
            form_object.check_box :communities_that_org_serve, 
          { 
            class: "govuk-checkboxes__input", 
            multiple: true, 
            id: "communities_that_org_serve_none",
            "data-behaviour" => "exclusive"  
          }, 
            'None of the above', 
            nil 
          %>

          <%= 
            form_object.label :communities_that_org_serve, 
            t('labels.communities_that_org_serve_none'), 
            for: "communities_that_org_serve_none", 
            class: "govuk-label govuk-checkboxes__label" 
          %>
          
        </div>

      </div>

     </div>

  </fieldset>

</div>
