<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-6">

      <h1 class="govuk-fieldset__heading"><%= t('governing_document.page_heading') %></h1>

    </legend>

    <p class="govuk-body govuk-!-margin-bottom-6"><%= t('governing_document.you_must_provide') %></p>

    <div class="govuk-form-group govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-3"><%= t('governing_document.this_should_include') %></h2>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">

        <li><%= t('governing_document.the_legal_name') %></li>

        <li><%= t('governing_document.statement_that_prevents') %></li>

        <li><%= t('governing_document.statment_that_confirms') %></li>

        <li><%= t('governing_document.adopted_date') %></li>

      </ul>

    </div>

    <p class="govuk-body govuk-!-margin-bottom-6"><%= t('governing_document.unable_to_fund') %></p>

    <p class="govuk-body govuk-!-margin-bottom-4">

      <%= t('governing_document.the_charity_commission') %>   

      <a href="https://www.gov.uk/guidance/how-to-write-your-charitys-governing-document" class="govuk-link" target="_blank">
        
        <%= t('governing_document.guidance') %>

      </a> 
        
      <%= t('governing_document.on_creating_a_governing_document') %>.

    </p>

    <p class="govuk-heading-s govuk-!-margin-bottom-3"><%= t('governing_document.do_not_need_to_see') %></p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-4">

      <li><%= t('governing_document.public_organisation') %></li>

      <li><%= t('governing_document.private_owner') %></li>

      <li><%= t('governing_document.charity') %></li>

    </ul>

    <div class="govuk-form-group nlhf-highlight-content govuk-!-margin-bottom-1">

      <div class="govuk-form-group 
      <%= "govuk-form-group--error" if model_object.errors.any? %>" 
        id="governing_document_file-form-group" data-form-group="file"
        >

        <%= render(partial: 'partials/form_group_errors', 
            locals: { form_object: model_object }) if model_object.errors.any? 
          %>

        <div class="govuk-form-group govuk-!-margin-bottom-1">
          <%= form_object.label :governing_document_file, 
              t('governing_document.labels.add_your_governing_doc'), 
              class: "govuk-heading-m nlhf-content-highlight__title" 
            %>

          <div id="governing_document_file-errors" class="govuk-!-margin-bottom-3"></div>

          <%= form_object.file_field :governing_document_file, 
              multiple: false, direct_upload: true, class: 
              "govuk-file-upload #{"govuk-file-upload--error" if model_object.errors.any?}", 
              'data-input-identifier': 'file', 
              'data-attribute': :governing_document_file, 
              'data-model': model_object_name, 
              'autocomplete' => 'off' 
            %>

        </div>

      </div>

    </div>

  </fieldset>

</div>

<%=
  render(
    ButtonComponent.new(
      text: t('buttons.labels.default'),
      element: 'button',
      name: "save_and_continue_button",
      is_start_button: false
    )
  )
%>

