<%= 
  render partial: "partials/page_title",
         locals: {
             model_object: @organisation,
             page_title: t('company_number.page_title')
         }
%>

<%= content_for :secondarycontent do %>
  <%= 
    render partial: "partials/summary/summary_link", locals: {
      summary_link: organisation_summary_path
    } 
  %>
<% end %>

<%=
  render partial: "partials/summary_errors", locals: {
      form_object: @organisation,
      first_form_element: :organisation_company_number
} if @organisation.errors.any?
%>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">

  <span class="govuk-caption-xl">

    <%= t('company_number.page_title') %>
    
  </span>

  <%= t('company_number.page_heading') %>

</h1>

<%= form_for @organisation, url: organisation_company_number_path(@organisation), method: :put do |f| %>

  <%=
    render(
      partial: 'partials/organisation/company_number_question',
      locals: {
        model_object: @organisation,
        form_object: f
      }
    )
  %>

   <%=
      render(
        ButtonComponent.new(
          element: 'button',
          is_start_button: false,
          text: t('buttons.labels.default'),
          name: "save_and_continue_button"
        )
      )
	  %>

<% end %>
