<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @organisation,
             page_title: t('main_purpose_and_activities.org_page_title')
         }
%>

<%= content_for :secondarycontent do %>
  <%= 
    render partial: "partials/summary/summary_link", locals: {
      summary_link: organisation_check_your_answers_path
    } 
  %>
<% end %>

<%= 
  render partial: "partials/summary_errors",
  locals: {
    form_object: @organisation,
    first_form_element: :main_purpose_and_activities
  } if @organisation.errors.any? 
%>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">

  <span class="govuk-caption-xl">
    <%= t('main_purpose_and_activities.org_page_heading_caption') %>
  </span>

  <%= t('main_purpose_and_activities.org_page_heading') %>

</h1>


<fieldset class="govuk-fieldset">

  <div class="govuk-character-count" data-module="govuk-character-count"
      data-maxwords="500">

    <%= form_with model: @organisation, 
        url: organisation_organisation_description_path,
        method: :put, local: true do |f| 
    %>

      <div class="govuk-form-group <%= "#{'govuk-form-group--error' if 
        @organisation.errors[:main_purpose_and_activities].any?}" %>">

          <%= 
            render partial: "partials/form_input_errors",
                  locals: {
                    form_object: @organisation,
                    input_field_id: :main_purpose_and_activities
                    } if @organisation.errors[:main_purpose_and_activities].any? 
          %>
          
          <%= f.text_area :main_purpose_and_activities, 
                rows: 10, 
                id: 'main_purpose_and_activities', 
                class: "govuk-textarea #{'govuk-js-character-count' if I18n.locale == :"en-GB"} " \
                "#{'govuk-input--error' if @organisation.errors[:main_purpose_and_activities].any?}", 
                "aria-describedby" => "main_purpose_and_activities-info" 
            %>

          <div id="main_purpose_and_activities-info"
                class="govuk-hint govuk-character-count__message govuk-!-margin-bottom-6"
                aria-live="polite">
            <%= t('generic.word_count', max_words: 500) %>
          </div>

      </div>
  <div>
      		
    <%=
      render(
        ButtonComponent.new(
          element: 'button',
          is_start_button: false,
          text: t('buttons.labels.default'),
          name: "save_and_continue_button"
        )
      )
			%>

  <% end %>

</fieldset>
